<!--Content-->
<section id="page-title">
  <div class="container">
    <div class="row">
      <div class="span12 text-center">
        <h3><%= @page.title %></h3>
      </div>
    </div>
  </div>
</section>


<section id="content2">
  <div class="container">
    <div class="row">
      
      <!--Column One-->
      <div class="span8">
	
				<div id="show_blog_post">
			    <%= render 'post' %>
			  </div>

			  
        
        
        
      </div><!--End Column One-->
      
      <!--Side Bar-->
      <div class="span4">
      </div>
      
    </div><!--End Row-->
             
  </div>
</section>


