<div class="navbar navbar-inverse navbar-fixed-top">
			<div id="logo_background">
					<a class="brand" href="index.html"><%= image_tag("logo_cmpc.png") %></a>
			</div>
			
			  <%= navigation_menu.to_html %>
</div>




<%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
