<h1 id='logo'>
	<a class="brand" href="index.html"><%= image_tag("logo.png") %></a>
</h1>

  <%= navigation_menu.to_html %>

<%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
