<!--
			<div id="logo_background">
					<a class="brand" href="index.html"><%= image_tag("logo_cmpc.png") %></a>
			</div>
			
			  <%#= navigation_menu.to_html %>
-->

				<div class="navbar navbar-inverse navbar-fixed-top">
				      <div class="navbar-inner">
				        <div class="container">
				          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				          </a>
				          <a class="brand" href="#"><%=Refinery::Core::site_name %></a>
				          <%= menu_header.to_html %>
				        </div>
				      </div>
				    </div>